html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  background-color: rgb(7, 1, 66);
  color:rgb(186, 252, 81)
}

#main {
    display: grid;
    grid-template-rows: 10vh 1fr;
    grid-template-areas:
      "header"
      "container";
  }
  
  #header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(186, 252, 81);
    align-items: center;
    background-color: black;
  }
  
  #descr {
    margin-left: 8%;
  }

  #descr:hover {
    cursor: pointer;
  }
  
  #container {
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20vh 1fr 1fr;
    grid-template-areas:
      ". status ."
      ". board ."
      ". . .";
    align-items: center;
    justify-items: center;
  }
  
  #status {
    grid-area: status;
    font-size: 4em;
  }

  #board {
    grid-area: board;
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 40vh;
    place-content: center;
  }
  
  .field {
    display: grid;
    place-content: center;
    border: solid;
    border-color: rgb(186, 252, 81);
    color:rgb(186, 252, 81);
    width: 10vw;
    height: 10vh;
    font-size: 4em;
    visibility: inherit;
  }

  .field:hover {
    background-color: rgb(56, 46, 143);
  }

  .mark {
    display: grid;
    place-content: center;
    width: 10vw;
    height: 10vh;
    visibility: inherit;
  }

  .fadeMark {
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  #f0, #f3, #f6 {
    border-left: none;
  }

  #f2, #f5, #f8 {
    border-right: none;
  }

  #f0, #f1, #f2 {
    border-top: none;
  }

  #f6, #f7, #f8 {
    border-bottom: none;
  }

  .hide {
    visibility: hidden;
    z-index: -1000;
  }

  .unhide {
    visibility: visible;
    z-index: 1000;
  }

  #step {
    font-size: 2em;
  }

  #startGame {
    display: grid;
    grid-area: board;
    place-items: center;
  }

  .button {
    border: solid;
    border-color: rgb(186, 252, 81);
    border-radius: 5px;
    text-align: center;
    padding: 1em;
  }

  .button:hover {
    cursor: pointer;
    background-color: rgb(56, 46, 143);
  }

  #startButton {
    width: 50%;
  }

  .playerButton {
    margin: 1em;
    display: inline;
    width: 40%;
  }

  #submit {
    width: 50%;
    margin-top: 2em;
  }